<launch>
  <arg name="path_name" default="test_data"/>

  <!-- Start find_object_2d -->
  <node name="find_object_2d" pkg="find_object_2d" type="find_object_2d">
    <param name="gui" value="true"/>
    <remap from="image" to="/naoqi_driver/camera/front/image_raw"/>
    <param name="objects_path" value="$(find wil_pepper_object_detection)/data/$(arg path_name)"/>
  </node>

  <!-- Start detect table -->

  <!-- Start turning pepper -->

  <!-- Start approach to table -->
  
</launch>